---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&daily=5&exclude=minutely,%20alerts&hourly=8&lan=english&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642569028,"sunrise":1642515466,"sunset":1642550558,"temp":35.2,"feels_like":32.94,"pressure":1014,"humidity":49,"dew_point":19.54,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":3,"wind_deg":280,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1642568400,"temp":35.2,"feels_like":31.35,"pressure":1014,"humidity":49,"dew_point":19.54,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":4.43,"wind_deg":347,"wind_gust":4.45,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1642572000,"temp":35.42,"feels_like":29.79,"pressure":1015,"humidity":48,"dew_point":19.29,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":6.76,"wind_deg":17,"wind_gust":13.35,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1642575600,"temp":34.57,"feels_like":28.65,"pressure":1016,"humidity":53,"dew_point":20.66,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":6.91,"wind_deg":14,"wind_gust":11.92,"weather":[{"id":803,"main[...]
