---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&daily=5&exclude=minutely,%20alerts&hourly=8&lan=english&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642528858,"sunrise":1642515466,"sunset":1642550558,"temp":45.88,"feels_like":45.88,"pressure":1010,"humidity":35,"dew_point":21.16,"uvi":1.21,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":209,"wind_gust":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1642528800,"temp":45.88,"feels_like":43.97,"pressure":1010,"humidity":35,"dew_point":21.16,"uvi":1.21,"clouds":100,"visibility":10000,"wind_speed":4.18,"wind_deg":211,"wind_gust":4.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642532400,"temp":46.02,"feels_like":45.03,"pressure":1009,"humidity":34,"dew_point":20.68,"uvi":1.83,"clouds":100,"visibility":10000,"wind_speed":3.15,"wind_deg":224,"wind_gust":3.36,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642536000,"temp":47.12,"feels_like":47.12,"pressure":1008,"humidity":32,"dew_point":20.28,"uvi":1.63,"clouds":100,"visibility":10000,"wind_speed":1.48,"wind_deg":259,"wind_gust":1.88,"weather":[{"id"[...]
