---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3-3ZxdU+hXSKBkEZQosRPBHppN7HU"
    body:
      encoding: UTF-8
      string: '{"activity":"Start a blog for something you''re passionate about","type":"recreational","participants":1,"price":0.05,"link":"","key":"8364626","accessibility":0.1}'
  recorded_at: Tue, 18 Jan 2022 05:23:08 GMT
recorded_with: VCR 6.0.0
