---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-MtTpA5zJU3NtjUui+IJ2t7njp0k"
    body:
      encoding: UTF-8
      string: '{"activity":"Buy a new house decoration","type":"recreational","participants":1,"price":0.4,"link":"","key":"3456114","accessibility":0.3}'
  recorded_at: Tue, 18 Jan 2022 06:53:02 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-JbFu+LMV+jFjwnWr5c0DNGI26co"
    body:
      encoding: UTF-8
      string: '{"activity":"Watch a movie you''d never usually watch","type":"relaxation","participants":1,"price":0.15,"link":"","key":"9212950","accessibility":0.15}'
  recorded_at: Tue, 18 Jan 2022 06:53:05 GMT
recorded_with: VCR 6.0.0
