---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&daily=5&exclude=minutely,%20alerts&hourly=8&lan=english&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642280728,"sunrise":1642256344,"sunset":1642291158,"temp":46.58,"feels_like":46.58,"pressure":1024,"humidity":41,"dew_point":25.07,"uvi":1.35,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":177,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1642280400,"temp":46.58,"feels_like":45.68,"pressure":1024,"humidity":41,"dew_point":25.07,"uvi":1.35,"clouds":0,"visibility":10000,"wind_speed":3.13,"wind_deg":160,"wind_gust":5.3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1642284000,"temp":45.28,"feels_like":45.28,"pressure":1023,"humidity":43,"dew_point":25.03,"uvi":0.64,"clouds":0,"visibility":10000,"wind_speed":2.8,"wind_deg":171,"wind_gust":2.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1642287600,"temp":43.45,"feels_like":41.58,"pressure":1022,"humidity":45,"dew_point":24.51,"uvi":0.19,"clouds":0,"visibility":10000,"wind_speed":3.69,"wind_deg":189,"wind_gust":3.42,"weather":[{"id":800,"main":[...]
