---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=b71opBELXETmteiOepK7hbwhRQqd4Qrt&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 06:53:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=b71opBELXETmteiOepK7hbwhRQqd4Qrt&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-602286773"}]}]}'
  recorded_at: Tue, 18 Jan 2022 06:53:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&daily=5&exclude=minutely,%20alerts&hourly=8&lan=english&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1642488834,"sunrise":1642511646,"sunset":1642546047,"temp":21.27,"feels_like":15.67,"pressure":1016,"humidity":82,"dew_point":17.17,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":4,"wind_deg":261,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1642485600,"temp":21.81,"feels_like":13.42,"pressure":1016,"humidity":84,"dew_point":18.19,"uvi":0,"clouds":10,"visibility":10000,"wind_speed":6.76,"wind_deg":256,"wind_gust":12.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642489200,"temp":21.27,"feels_like":13.1,"pressure":1016,"humidity":82,"dew_point":17.17,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":6.38,"wind_deg":255,"wind_gust":11.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642492800,"temp":21.7,"feels_like":14.45,"pressure":1016,"humidity":84,"dew_point":18.09,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":5.5,"wind_deg":255,"wind_gust":9.75,"weather":[{"id":800,"main":"Clear"[...]
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90-fwLust8Pwf3PmjZEQpc5t1C/uQo"
    body:
      encoding: UTF-8
      string: '{"activity":"Prepare a dish from a foreign culture","type":"cooking","participants":1,"price":0.2,"link":"","key":"8061754","accessibility":0.3}'
  recorded_at: Tue, 18 Jan 2022 06:53:57 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-HSD2BPt0/fRLhO0z+N7tgB8a8fA"
    body:
      encoding: UTF-8
      string: '{"activity":"Look at pictures and videos of cute animals","type":"relaxation","participants":1,"price":0,"link":"","key":"2565076","accessibility":1}'
  recorded_at: Tue, 18 Jan 2022 06:53:59 GMT
recorded_with: VCR 6.0.0
