---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-6JowXFmpb/WrCyN7V1ESOOCmCmE"
    body:
      encoding: UTF-8
      string: '{"activity":"Try a food you don''t like","type":"recreational","participants":1,"price":0.1,"link":"","key":"6693574","accessibility":0.05}'
  recorded_at: Tue, 18 Jan 2022 06:54:06 GMT
recorded_with: VCR 6.0.0
